{{> mynav}}
<h1>TRAINERS</h1>
<div id="myPanel" class="container">
    <div>
        <div class="myLinksDiv">
            {{#if lookupSimilar}}
                <a class="btn" href="/users">
                <span id="trainersCarrot" class="surveyCarrot">
        	        <i class="fa fa-caret-right" aria-hidden="true"></i>
    	        </span>
                CLICK TO VIEW ALL TRAINERS</a>
            {{else}}
                <a class="btn" href="/users/similar/{{sessionUser.dataValues.id}}">
                <span id="trainersCarrot" class="surveyCarrot">
        	        <i class="fa fa-caret-right" aria-hidden="true"></i>
    	        </span>
                ClICK TO FIND SIMILAR TRAINERS</a>
            {{/if}}
        </div>
        <table class="table myTable">
            <thead>
                <tr>
                    <th>TRAINER</th>
                    <th>EMAIL</th>
                    {{#if similarTrainers}}
                        <th>NUMBER OF SIMILAR POKEMON</th>
                    {{else}}
                        <th>NUMBER OF POKEMON</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#if similarTrainers}}
                    {{#each similarTrainers}}
                        <tr onclick="location.href='/users/{{this.id}}'" class="myTr" data-userId={{this.id}}>
                            <td>{{this.username}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.numberOfSimilarPokemon}}</td>
                        </tr>
                    {{/each}}
                {{else}}
                    {{#each users}}
                        <tr onclick="location.href='/users/{{this.dataValues.id}}'" class="myTr" data-userId={{this.dataValues.id}}>
                            <td>{{this.dataValues.username}}</td>
                            <td>{{this.dataValues.email}}</td>
                            <td>{{this.dataValues.number_of_pokemon}}</td>
                        </tr>
                    {{/each}}
                {{/if}} 
            </tbody>
        </table>
    </div>
</div>