{{> mynav}}
<div id="myPanel">
    <div class="">
        <h2>ALL TRAINERS</h2>
    </div>
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th>TRAINER</th>
                    <th>EMAIL</th>
                    <th>NUMBER OF POKEMON</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr onclick="location.href='/users/{{this.dataValues.id}}'" class="myTr" data-userId={{this.dataValues.id}}>
                        <td>{{this.dataValues.username}}</td>
                        <td>{{this.dataValues.email}}</td>
                        <td>{{this.dataValues.number_of_pokemon}}</td>
                    </tr>
                {{/each}}  
            </tbody>
        </table>
    </div>
</div>