{{> mynav}}
<div class="container myEditContainer">
    <div class="">
        <h2>Edit Your Profile</h2>
    </div>
    <form>
        <table class="table myTable">
            <thead>
                <tr>
                    <th>NUMBER</th>
                    <th>SPRITE</th>
                    <th>NAME</th>
                    <th>STARTING</th>
                </tr>
            </thead>
            <tbody>
                {{#each userPokemon.dataValues.Pokemons}}
                    <tr class="myTr" data-pokemonNumber={{this.dataValues.Number}}>
                        <td>{{this.dataValues.Number}}</td>
                        <td><img src="/assets/images/sprites/{{this.dataValues.Number}}.png" alt={{this.dataValues.Name}}></td>
                        <td>{{this.dataValues.Name}}</td>
                        {{#if this.dataValues.UserPokemon.dataValues.starting}}
                            <td class="starterCol" data-starting={{this.dataValues.UserPokemon.dataValues.starting}}><span class="glyphicon glyphicon-ok"></span></td>
                        {{else}}
                            <td class="starterCol" data-starting={{this.dataValues.UserPokemon.dataValues.starting}}></td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>

<script src="/assets/javascript/editUser.js"></script>